<li role="presentation" class="active"><a href="{{ url("dokumenty_index")}}">Home</a></li>
{# <li role="presentation"><a href="{{ url('login') }}">Login</a></li> #}
<li role="presentation"><a href="{{ url('register') }}">Rejestracja</a></li>

