{% extends "base.html.twig" %}

{% block title %}
  ...::: Accces interidit :::...
{% endblock %}

{% block body %}
  <h1>
    Accces interidit
  </h1>
  <p>
    Brak dostępu do strony.
  </p>
  <p>
    Kod błedu: {{ status_code }}
  </p>
{% endblock %}